<div class="product">
		<h2>Product div</h2>
		<div class="productChild">
			<!-- 
		<div class="sharedScope">
				<h3>Isolated Scope eaxmple... text binding or one way binding</h3>
			</div>
			<product-para name="{{product1.name}}" price="{{product1.price}}"></product-para>
			<product-para name="{{product2.name}}" price="{{product2.price}}"></product-para> 
			<product-para name="{{product3.name}}" price="{{product3.price}}"></product-para>   -->
			
			<div class="isolatedScope">
				<h3>Isolated Scope eaxmple ... two way binding</h3>
			</div>
			<product-para data="product1"></product-para> 
			<product-para data="product2"></product-para> 
			<product-para data="product2"></product-para> 			
		</div>
		<!-- {{ABC}}
 		{{XYZ}} -->
	</div>